# Folders
/build
/logs
/target
/out
/spark-warehouse
/project
/.idea
/.idea_modules
/.classpath
/.gradle
/.project
/.settings
/RUNNING_PID
/.vscode

# Files
*.class
.*.swp
.DS_Store

# Tagger files
/taggers/
